
.form{
    background-color: aliceblue;
    border-radius: 5%
}

.itemCenter{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center
}

.formIcon{
    font-size:70px;
    color:black;
    display: flex;
    align-items: center
}

.end{
    display: flex;
    justify-content: end 
}

.table{
    background-color:aliceblue
}
.tableHead{
    background-color:#b4cde3
}