
.form{
    background-color: aliceblue;
    border-radius: 5%
}

.fullScreen{
    height: 100vh;
}

.itemCenter{
    justify-content: center;
    display: flex;
    align-items: center
}

.block{
    display: inline-block
}
.formIcon{
    font-size:70px;
    color:black;
    display: flex;
    align-items: center
}

.end{
    display: flex;
    justify-content: end 
}
.endd{

    justify-content: end 
}

.table{
    background-color:aliceblue
}
.tableHead{
    background-color:#b4cde3
}